<!-- Formulario de búsqueda -->
<form class="d-flex mt-3 justify-content-center">
  <div class="input-group" style="max-width: 500px;">
      <input class="form-control" type="search" placeholder="Buscar Personaje" (keyup)="buscarPersonaje(nameP.value)" #nameP style="border-radius: 30px 0 0 30px; padding-left: 20px;">
      <span class="input-group-text" style="background: white; border-left: none; border-radius: 0 30px 30px 0;">
          <i class="fa-solid fa-magnifying-glass"></i>
      </span>
  </div>
</form>

<!-- Tarjetas de personajes -->
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2 justify-content-center">
  <div class="col d-flex justify-content-center" *ngFor="let personaje of personajes">
      <div class="card h-100">
          <img [src]="personaje.thumbnail.path | crearImg:personaje.thumbnail.extension" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ personaje.name }}</h5>
              <button (click)="verPersonaje(personaje.id)" type="button" class="btn btn-outline-primary mt-auto">
                  Ver más..
              </button>
          </div>
      </div>
  </div>
</div>
