<footer class="footer mt-3 mb-4 bg-dark text-center text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About</h5>
                <p>API de Marvel utilizada para el consumo de datos de Marvel. Desarrollado por Jose Bermudez, Monica Ardila y Robin Rodriguez.</p>

                <p>&copy; Marvel {{year}}</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="https://facebook.com" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" class="text-white"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <p>Email: jbermu23@ibero.edu.co</p>
                <p>Email: mardila7@ibero.edu.co</p>
                <p>Email: rrodri42@ibero.edu.co
                    
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
