<div *ngIf="load" class="row row-cols-1 row-cols-md-3 g-4 mt-2 pointer">
    <div class="col">
      <div class="card">
        <img [src]="info.thumbnail.path | crearImg:info.thumbnail.extension  "class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ info.title }}</h5>
          <button (click)="regresar()" type="button" class="btn btn-outline-danger btn-block">
            Regresar
          </button>
          
           <a [href]="info.urls[0].url" target="_blank" class="btn btn-outline-success ms-3">
            Ver en marvel
           </a>
        </div>
      </div>
    </div>
    <div class="col">
        <p> {{ info.description }} </p>
    </div>
</div>